*{
    box-sizing: border-box;
    background:none;
}

a {text-decoration: none; color: #22619c;}
a:hover {text-decoration: underline; color: darkturquoise;}
body {
    color: #26619c;
    background-color: ghostwhite;
    background: ghostwhite;
    margin: 0;
}
h1{font-size: 36px;}
h2{color: #22619c;}
h3 {margin-left: 32px;}
p {color:darkcyan; margin-left: 50px;}
ul {text-align: center; list-style-position: inside; padding: 0;}
li {text-align: center;}
footer {text-align: center;}

#tab {
    text-align: center;
    padding: 8px;
    background-color: floralwhite;
}
#home {
    background-color: floralwhite;
}
#about {
    background-color: floralwhite;
}
#contact{
    background-color: floralwhite;
    height: auto;
    padding: 20px;
    text-align: center;
}
#projek {
    text-align: center;
    display: block;
    margin: 0 auto;
}